services = [
  { type = "Toggl", api_token = "<TOGGL API TOKEN>" },
  { type = "Harvest", account_id = "<HARVEST ACCOUNT ID", api_token = "<HARVEST API TOKEN" },
]

# Configuration settings for your clients. Make sure the name matches the client's name in Toggl.
[clients."My Best Client"]
goal = 100 # optional target for number of billed hours per month

[clients."My Worst Client"]
goal = 10
